[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"

[packages]
openpyxl = "*"
pytest = "*"
matplotlib = "==2.*"
colorama = "*"

[requires]
python_version = "3.7"
